# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch models and checkpoints
*.pt
*.pth
checkpoints/

# Jupyter Notebook
.ipynb_checkpoints

# wandb
wandb/

# Other stuff
# records/
model_checkpoints/
models/
pca_results/
reproduction/
useful_output/

python*.out
